/* GLOBAL */

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    --themeColor: #0c3047;
    /* --themeColor: #531717; */

}

.background {
    height: 100vh;
    /* background-image: url("images/72125578_p0.jpg"); */
    background-image: url("images/76724192_p5.jpg");
<<<<<<< HEAD:DOM.css
    /* background-image: url("https://cdn.pixabay.com/photo/2017/02/14/03/03/ama-dablam-2064522_1280.jpg");     */
=======
>>>>>>> 249609fe7778deff997dffedca2f68e30c671ded:dice-game.css
    background-size: cover;
    background-position: center;
}

/* SCOREBOARD */

.scoreboard {
    position: absolute;
    left: 25%;
    top: 10%;
    width: 50vw;
    /* padding: 3em 0; */
    background-color: rgb(255,255,255,0.5);
    display: flex;
}

.p0-box {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 3em 0;
}

.p1-box {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 3em 0;
}

.active {
    background: var(--themeColor);
    color: white;
}

/* PLAYER SCOREBOARDS */

.name {
    width: 100%;
    text-align: center;
    padding: 1em 0;
    font-size: 2em;
}

.score-wrapper {
    text-align: center;
    width: 40%;
    padding: 1em 0;
    font-size: 1.2em;
    justify-content: center;
}

.score {
    margin-top: 0.5em;
    font-size: 2em;
}

/* ACTIONS */

.interface {
    position: absolute;
    top: 60%;
    left: 40%;
    width: 20vw;
    background-color: rgb(255,255,255,0.5);
}

.play-game {
    display: block;
}

.dice {
    text-align: center;
    padding: 1em 0;
}

.dicePic {
    width: 32%;
}

.roll {
    text-align: center;
    padding: 1em;
}

.roll img {
    width: 24%;
}

.hold {
    text-align: center;
    padding: 1em;
}

.hold button {
    border: none;
<<<<<<< HEAD:DOM.css
    /* background: #531717; */
    background: #262668;
=======
    background: var(--themeColor);
    padding: 1em 3em;
    color: white;
}

.roll button {
    border: none;
    background: var(--themeColor);
    padding: 1em 3em;
    color: white;
}

/* GAME OVER */

.game-over {
    display: none;
}

.win {
    font-size: 2em;
    padding: 1em;
    text-align: center;
}

.reset {
    text-align: center;
    padding: 1em;
}

.reset button {
    border: none;
    background: var(--themeColor);
>>>>>>> 249609fe7778deff997dffedca2f68e30c671ded:dice-game.css
    padding: 1em 3em;
    color: white;
}