* {
    margin: 0;
    padding: 0;
    font-family: "Roboto";
}

/* BUDGET DISPLAY */

header {
    color: white;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient( rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5) ), url('images/43279238_p0.jpg'); */
    background-color: rgb(30, 98, 138);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.header-title {
    font-size: 2em;
}

.total-budget {
    font-size: 2em;
    padding: 1em;
}

.net-income-container {
    background-color: rgb(51, 133, 180);
    display: flex;
    justify-content: space-between;
    width: 30%;
}

.net-title {
    width: 50%;
}

.net-income-container > * {
    padding: 1em;
}

.net-expense-container {
    background-color: rgb(12, 58, 85);
    display: flex;
    justify-content: space-between;
    width: 30%;
}

.net-expense-container > * {
    padding: 1em;
}

/* INPUT BAR */

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: rgb(17, 72, 104);
}

.input-container > * {
    padding: 1em;
    margin: 0 1em;
    border: none;
}

/* Remove number input arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
    -moz-appearance:textfield;
}

#description {
    width: 30%;
}

/* INCOME & EXPENSES LIST */

.list-titles {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    width: 70%;
    margin: 3em auto 2em auto;
}

.inc-title {
    color: rgb(51, 133, 180);
    font-size: 1.5em;
}

.exp-title {
    color: rgb(17, 72, 104);
    font-size: 1.5em;
}

.list-item-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    width: 70%;
    margin: 0 auto 5em auto;
}

.inc-list, .exp-list {
    display: block;
}

.inc-item, .exp-item {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    /* display: flex; */
}

.invisible {
    display: none;
}

.description {color: rgb(100, 100, 100);}
.inc-amt {color: rgb(76, 129, 33);}
.exp-amt {color: rgb(145, 45, 45);}

.percent {
    color: rgb(169, 206, 228);
    font-size: 0.6em;
    padding: 0.3em;
    border: 1px solid rgb(31, 64, 82);
    background-color: rgb(31, 64, 82);
    border-radius: 10%;
    width: 3em;
    height: 1em;
    text-align: center;
    margin-bottom: 1em;
}

.delete-btn {
    
}